/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  background-color: skyblue
}

ul {
  display: flex;
  list-style: none;
}

footer {
	background-color: skyblue;
}

.hospitar_index_table tr:hover td {
  background-color: #d4faff;
}
.hospitar_index_table{
width: 100%;
border-collapse: collapse;
border-top: 1px solid #999;
border-right: 1px solid #8fd2ed;
border-left: 1px solid #8fd2ed;
}
.hospitar_index_table th{
padding: 10px;
background-color: #cee7ff;
border-left: 1px solid #999;
border-top: 1px solid #fff;
}
.hospitar_index_table td{
padding: 10px;
background-color: #fff;
border: 1px solid #999;
border-bottom: 3px solid #8fd2ed;
}
